# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.db-journal
*.db-wal
*.db-shm

# Environment variables
.env

# Pytest / Cache
.pytest_cache/
.vscode/
.idea/
